.header {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: transparent;
  background-color: #fff;
  transition: background-color 250ms linear;
}
input:hover,
fieldset:hover {
  border: 1px solid #000;
}
input:focus {
  border: 1px solid #4e75ff;
}
button {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 40px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 250ms linear;
}
button:hover,
button:focus {
  background: #6c8cff;
}
